{% extends "base.html"%}

{% block content %}

<nav class="with-nav-tabs">
  <div class="panel-heading">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#lspbyinterface" data-toggle="tab">По интерфейсам</a></li>
      <li><a href="#lspbyhost" data-toggle="tab">По хостам</a></li>
    </ul>
    <button class="btn btn-link  pull-right" data-toggle="collapse" data-target="tbody">Свернуть LSP</button>
  </div>
</nav>
<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane fade in active" id="lspbyinterface">{% include 'lspbyinterface.html' %}</div>
    <div class="tab-pane fade" id="lspbyhost">{% include 'lspbyhost.html' %}</div>
  </div>
</div>
{% endblock %}
