{% block lspbyhost %}
<table class="table table-hover">
  {% for host in hosts %}
  <thead>
    <tr class="bg-primary">
      <!-- IP -->
      <th>{{ host['ip'] }}</th>
      <!-- NAME -->
      <th class="nowrap">{{ host['name']}}</th>
      <!-- SUMMARY BANDWIDTH -->
      <th>{{ host['sumbandwidth'] }}m</th>
      <!-- SUMMARY OUTPUT -->
      <th>{{ host['sumoutput'] }}Gbps</th>
      <!-- RBANWIDTH -->
      <th colspan="10" class="hidden-xs hidden-sm">~{{ host['rbandwidth']}}Mbps/m</th>
    </tr>
  </thead>
  <!-- LSPS -->
  <tbody id="tablebody" class="collapse in">
      {% for lsp in host['lsplist']%}
      {% include 'lsp.html' %}
      {% endfor %}
  </tbody>
  {% endfor %}
</table>
{% endblock %}
