{% block lspbyhost%}
<table class="table table-condensed table-hover">
  {% for host in hosts %}
  <thead>
    <tr class="bg-primary">
    <th>{{ host['ip'] }}</th>
    <th>{{ host['name']}}</th>
    <th>{{ host['sumbandwidth'] }}m</th>

    {% if host['sumoutput'] != host['sumoutput_calculated'] %}
    <th>~{{ host['sumoutput_calculated'] }}Gbps</th>
    {% else %}
    <th>{{ host['sumoutput'] }}Gbps</th>
    {% endif %}

    <th colspan="10">~{{ host['rbandwidth']}}Mbps/m</th>

  </tr>
  </thead>
      <tbody id="tablebody" class="collapse in">
          {% for lsp in host['lsplist']%}
          {% if lsp['state'] == 'Dn' %}
            <tr class="danger">
          {% elif lsp['state'] == 'Inactive' %}
            <tr class="info">
          {% else %}
            <tr>
          {% endif %}
          <td>{{ lsp['state'] }}</td>
          <td>{{ lsp['name'] }}</td>
          <td>{{ lsp['bandwidth'] }}m</td>

          {% if lsp['output'] != None %}
            <td>{{ lsp['output'] }}Mbps</td>
          {% else %}
            <td>{{ lsp['output'] }}</td>
          {% endif %}

          {% if lsp['rbandwidth'] != None %}
            <td>{{ lsp['rbandwidth'] }}Mbps/m</td>
          {% else %}
            <td>{{ lsp['rbandwidth'] }}</td>
          {% endif %}

          <td class="hidden-xs hidden-sm">to {{ lsp['to'] }}</td>
          <td class="hidden-xs hidden-sm">{{ lsp['path'] }}</td>
          </tr>
          {% endfor %}
      </tbody>
  <tr><td></td></tr>
  {% endfor %}
</table>
{% endblock %}
