{% block lspbyinterface %}
<table class="table table-hover table-condensed">
  {% for interface in interfaces %}
  <thead>
    <!-- ROW COLOR -->
    {% if interface['speed'] == "Unspecified" %}
      <tr class="bg-danger text-danger">
    {% else %}
      <tr class="bg-primary">
    {% endif %}
    <!-- NAME -->
    <th class="nowrap">{{ interface['name'] }} | {{ interface['description'] }}</th>
    <!-- SPEED -->
    <th>{{ (interface['speed']/1000)|int }}Gbps</th>
    <!-- OUTPUT -->
    <th>{{ (interface['output']/1000)|round(2) }}Gbps</th>
    <!-- UTILIZATION -->
    <th class="hidden-xs hidden-sm">
      <div class="progress">
        <div data-percentage="0%" style="width: {{ interface['utilization'] }}%" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        </div>
        <span class="text-success">{{ interface['utilization'] }}%</span>
      </div>
    </th>
    <!-- RSVP OUTPUT -->
    <th class="hidden-xs hidden-sm nowrap">RSVP: {{ (interface['rsvpout']/1000)|round(2) }}Gbps</th>
    <!-- LDP OUTPUT -->
    <th class="hidden-xs hidden-sm nowrap">LDP: {{ (interface['ldpout']/1000)|round(2) }}Gbps</th>
    </tr>
  </thead>
  <!-- LSPS -->
  <tbody class="collapse in">
      {% for lsp in interface['lsplist']%}
      {% include 'lsp.html' %}
      {% endfor %}
  </tbody>
  {% endfor %}
</table>
{% endblock %}
