.nav-tabs>li>a {
    border-radius: 0px;
}
.nowrap {
    overflow-x:auto;
    overflow-y:hidden;
    white-space: nowrap;
}
.progress {
    margin-bottom: 0 !important;
}
.alert {
  display:inline-block;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}
.modal-content {
  height: auto;
  border-radius: 0;
}
