{% extends "base.html"%}
{% block content %}
<br>
<div class="container-fluid">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default">
    <!-- NOT COLLAPSED -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img style="max-width:200px; margin-top: -17px; margin-left: -15px;"
                       src="static/img/tj.png">
          <!--<p>Traffic<strong class="text-default">Juggler</strong></p>-->
        </a>
      </div>
    </div>
    <!-- COLLAPSED -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="#lspbyinterface" data-toggle="tab">По интерфейсам</a></li>
          <li><a href="#lspbyhost" data-toggle="tab">По хостам</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- СВЕРНУТЬ BUTTON -->
          <!--
          <li>
            <a href="#" data-toggle="collapse" data-target="tbody">
              <span class="glyphicon glyphicon-chevron-up"></span> Свернуть LSP
            </a>
          </li>
          //-->
        </ul>

    <!-- END COLLAPSED -->
    </div>
  <!-- END NAVBAR -->
  </nav>
</div>

<!-- BODY -->
<div class="panel-body">
  <div class="tab-content">
    <!-- LSP BY INTERFACE PAGE -->
    <div class="tab-pane fade in active" id="lspbyinterface">
      {% for router in routers %}
        <h3>{{ router['name'] }}<br><small>Обновлено: {{ router['last_parse'] }}</small></h3>
        <ul class="list-inline">
          <li>
            <a href="/{{ router['name'] }}/interfaces">
              <span class="glyphicon glyphicon-th-list"></span> Все интерфейсы
            </a>
          </li>
          <li>
            <a href="/{{ router['name'] }}/lsps">
              <span class="glyphicon glyphicon-align-left"></span> Все LSP
            </a>
          </li>
        </ul>
        {% include 'lspbyinterface.html' %}
        <br>
      {% endfor %}
    </div>
    <!-- LSP BY HOST PAGE -->
    <div class="tab-pane fade" id="lspbyhost">
      {% for router in routers %}
        <h3>{{ router['name'] }}<br><small>Обновлено: {{ router['last_parse'] }}</small></h3>
        <ul class="list-inline">
          <li>
            <a href="/{{ router['name'] }}/hosts">
              <span class="glyphicon glyphicon-indent-left"></span> Все хосты
            </a>
          </li>
          <li>
            <a href="/{{ router['name'] }}/lsps">
              <span class="glyphicon glyphicon-align-left"></span> Все LSP
            </a>
          </li>
        </ul>
        {% include 'lspbyhost.html' %}
        <br>
      {% endfor %}
      </div>
  </div>
<!-- END BODY -->
</div>

{% endblock %}
