{% block lsp %}
<!-- ROW COLOR -->
{% if lsp.state == 'Dn' %}
  <tr class="danger">
{% elif lsp.state == 'Inactive' %}
  <tr class="info">
{% else %}
  <tr>
{% endif %}
  <!-- NAME -->
  <td class="nowrap">{{ lsp.name }}</td>
  <!-- BANDWIDTH -->
  <td>
    {% if lsp.bandwidth == 0 %}
    Dynamic
    {% else %}
    {{ lsp.bandwidth }}m
    {% endif %}
  </td>
  <!-- OUTPUT -->
  <td>
    <a id="show_graph"  data-rel="{{ lsp.name}}"
                        data-type="lsp"
                        data-output="{{ lsp.output }} Mbps"
                        data-description="">
    {% if lsp.output != None %}
      {{ (lsp.output/1000)|round(2) }}Gbps
    {% else %}
      {{ lsp.output }}
    {% endif %}
    </a>
  </td>
  <!-- RBANWIDTH -->
  <td class="hidden-xs hidden-sm">
  {% if lsp.rbandwidth != None %}
    {{ lsp.rbandwidth }}Mbps/m
  {% elif lsp.state == 'Up' and lsp.rbandwidth == None%}
    Dynamic
  {% else %}
    {{ lsp.rbandwidth }}
  {% endif %}
  </td>
  <!-- TO -->
  <td class="hidden-xs hidden-sm nowrap">to <abbr title="{{ lsp.to }}">{{ lsp.to_name }}</abbr></td>
  <!-- PATH -->
  <td class="hidden-xs hidden-sm">{{ lsp.path }}</td>
</tr>
{% endblock %}
