{% block lsp %}
<!-- ROW COLOR -->
{% if lsp.state == 'Dn' %}
  <tr class="danger">
{% elif lsp.state == 'Inactive' %}
  <tr class="info">
{% else %}
  <tr>
{% endif %}
  <!-- NAME -->
  <td class="nowrap">{{ lsp.name }}</td>
  <!-- BANDWIDTH -->
  <td>
    {% if lsp.bandwidth == 0 %}
    Dynamic
    {% else %}
    {{ lsp.bandwidth }}m
    {% endif %}
  </td>
  <!-- OUTPUT -->
  <td>
    <a id="show_graph"  data-rel="{{ lsp.name}}"
                        data-router="{{ router['name'] }}"
                        data-type="lsp"
                        data-output="{{ lsp.output }} Mbps"
                        data-description="">
    {% if lsp.output != None %}
      {{ (lsp.output/1000)|round(2) }}Gbps
    {% else %}
      {{ lsp.output }}
    {% endif %}
    </a>
  </td>
  <!-- RBANWIDTH -->
  <td class="hidden-xs hidden-sm">
  {% if lsp.rbandwidth != None %}
    {{ lsp.rbandwidth }}Mbps/m
  {% elif lsp.state == 'Up' and lsp.rbandwidth == None%}
    Dynamic
  {% else %}
    {{ lsp.rbandwidth }}
  {% endif %}
  </td>
  <!-- TO -->
  <td class="hidden-xs hidden-sm nowrap">to <abbr title="{{ lsp.to }}">{{ devices|selectattr('ip','equalto',lsp.to)|map(attribute='name')|first }}</abbr></td>
  <!-- PATH -->
  <td class="hidden-xs hidden-sm">
    <table >
      <tbody>
      <tr>
        {% for hop in lsp.path.real %}
          <td >
            <!-- IP -->
              <strong>{{ hop.ip }}</strong>
            <br/>
            <!-- Router -->
            <abbr title="{{hop.router}}">{{ devices|selectattr('ip','equalto',hop.router)|map(attribute='name')|first }}</abbr>
            <!-- Speed -->
            <span class="badge"><small>{{hop.bandwidth|replace('Gbps','G')}}</small></span>



          </td>

          <!-- Arrow -->
          <td style="margin:10px; padding:10px;">
            {% if not loop.last %}
              <small><span class="glyphicon glyphicon-menu-right"></span></small>
            {% endif %}
          </td>

        {% endfor %}

        <!-- LSP path type -->
        {% if lsp.path.type != 'strict' %}
        <td>
          <strong class="label label-warning">{{ lsp.path.type|upper }}</strong><br/>
          {{ lsp.path.configured|map(attribute='ip')|join(' - ')}}
        </td>
        {% endif %}
    </tr>
    </tbody>
    </table>
  </td>
  <!-- ENDPATH -->
</tr>
{% endblock %}
