{% block lspbyhost %}
<table class="table table-hover table-condensed">
  {% for host in router['hosts'] %}
  <thead>
    <tr class="bg-primary">
      <!-- IP -->
      <th class="nowrap">{{ host.ip }} | {{ host.name}}</th>
      <!-- SUMMARY BANDWIDTH -->
      <th>
        {% if host.sumbandwidth == 0 %}
          Dynamic
        {% else %}
          {{ host.sumbandwidth }}m
        {% endif %}
      </th>
      <!-- SUMMARY OUTPUT -->
      <th>
        <a id="show_graph"  data-rel="{{ host.ip }}"
                            data-router="{{ router['name'] }}"
                            data-type="host"
                            data-output="{{ host.sumoutput }} MBps"
                            data-description="{{ host.name }}"
                            style="color: white;">
          {% if host.sumoutput == None %}
             None
          {% else %}
            {{ (host.sumoutput/1000)|round(2) }}Gbps
          {% endif %}
        </a>
      </th>
      <!-- RBANWIDTH -->
      <th colspan="10" class="hidden-xs hidden-sm">
      {% if host.rbandwidth == None %}
        Dynamic
      {% else %}
        ~{{ (host.rbandwidth|round(2)) }}Mbps/m
      {% endif %}
      </th>

    </tr>
  </thead>
  <!-- LSPS -->
  <tbody id="tablebody" class="collapse in">
      {% for lsp in host.lsplist%}
      {% include 'lsp.html' %}
      {% endfor %}
  </tbody>
  {% endfor %}
</table>
{% endblock %}
