{% block lspbyinterface %}
<table class="table table-condensed table-hover">
  {% for interface in interfaces %}
  <thead>
  {% if interface['speed'] == "Unspecified" %}
    <tr class="bg-danger text-danger">
  {% else %}
    <tr class="bg-primary">
  {% endif %}
    <th>{{ interface['name'] }}</th>
    <th>{{ interface['description'] }}</th>
    <th>{{ interface['speed'] }}</th>
    <th>{{ interface['output_gbps'] }}Gbps</th>
    <th>{{ interface['utilization'] }}%</th>
    <th class="hidden-xs hidden-sm">RSVP: {{ interface['rsvpout'] }}</th>
    <th class="hidden-xs hidden-sm">LDP: {{ interface['ldpout'] }}</th>
  </tr>
  </thead>
      <tbody class="collapse in">
          {% for lsp in interface['lsplist']%}
            {% if lsp['state'] == 'Dn' %}
              <tr class="danger">
            {% elif lsp['state'] == 'Inactive' %}
              <tr class="info">
            {% else %}
              <tr>
            {% endif %}
            <td>{{ lsp['state'] }}</td>
            <td>{{ lsp['name'] }}</td>
            <td>{{ lsp['bandwidth'] }}</td>

            {% if lsp['output_gbps'] != None %}
              <td>{{ lsp['output_gbps'] }}Gbps</td>
            {% else %}
              <td>{{ lsp['output'] }}</td>
            {% endif %}

            <td>{{ lsp['rbandwidth'] }}</td>
            <td class="hidden-xs hidden-sm">to {{ lsp['to_name'] }}</td>
            <td class="hidden-xs hidden-sm">{{ lsp['path_formatted'] }}</td>
            </tr>
          {% endfor %}
      </tbody>
  <tr><td></td></tr>
  {% endfor %}
</table>
{% endblock %}
